/*linonico css style*/

* {
	margin:0;
	padding:0;
}

/* General Style Info */
body {
	background: #003d4c;
	color: #4F4F4F;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	background: none;
	color: #993;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	background: none;
	color: #993;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
	margin: 0.1em 0;
}
h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0.3em 0;
	padding-top: 0.8em;
}
h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 165%;
	padding-top: 1.5em;
}
h4 {
	color: #993;
	font-weight: normal;
	padding-top: 0.5em;
}
h5 {

	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 100%;
	margin: 0.1em 0;
}
ul, li {
	margin: 0 12px;
}

/* Layouts */

body{
    background: #4F4F4F;
}
#header{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}
#header h1 {
	/* background: #003d4c url('../img/cake.icon.gif') no-repeat left; */
	background: #4F4F4F url('../img/linoface.icon.gif') no-repeat left;
	color: #fff;
	padding: 0px 30px;
        font-size: small;
}
#header h1 a {
	color: #fff;
        /* background: #003d4c; */
	background: #4F4F4F;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
        /* background: #003d4c; */
	background: #4f4f4f;
	text-decoration: underline;
}

#logostrip{
    width: 800px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background: #4F4F4F url(/img/myCartoonFace.PNG) no-repeat top left;
}
#logolabel{
    width: 600px;
    height: 150px;
    margin-right: 0px;
    margin-left: 159px;
    background: #4F4F4F url(/img/linonico_logoheading1.png) no-repeat center left;
}
#menubg{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background: url(/img/menuBG_top.png) no-repeat top left;
    /* background: url(/img/menuBG_fadedTop.png) no-repeat top left */
}
#menustrip{
    width: 800px;
    height: 266px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    background: none no-repeat 6px 35px;
}
#searchbox{
    width: 300px;
    height: 266px;
    float: right; 
    text-align: right; 
    margin-top: -3px;
}
#searchbox input{
    height: 23px;
    font-size: 15px;
    width: 150px;
}
#searchbox .searchButton{
    height: 30px;
    font-size: 11px;
    width: 60px;
    float: right;
    margin-left: -4px;
}
#menustrip  ul {
         padding-top: 40px;
         list-style: none;
}
#menustrip ul li{

                float: left;
                /* font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
                /* font-size: 16px; */
                /* color: #6A3A29; */
                padding-left: 16px;
                padding-right: 15px;
                /* cursor: pointer; */
}
#menustrip ul li.rightfl{

                float: right;
                /* font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
                /* font-size: 16px; */
                /* color: #6A3A29; */
                padding-left: 16px;
                padding-right: 15px;
                /* cursor: pointer; */
}

#menustrip ul li a{
	background: none;
	text-decoration: none;
        font-weight: normal;
        font-weight: no
        
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #6A3A29;
        cursor: pointer;
}

#bodybg{
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    background: url(/img/bodyBG.png) repeat top left;
    /* background: url(/img/bodyBG_faded.png) repeat top left; */
}
#mainmessage{
    position: absolute;
    width: 700px;
    top: -60px;
    left: 150px;
    
}

#footerbg{
    width: 1000px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background: url(/img/menuBG_bottom.png) no-repeat top left;
    /* background: url(/img/menuBG_fadedBottom.png) no-repeat top left; */
}
#footercap{

    width: 1000px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #6A3A29;
    width: 100px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    display: block;
}

h2 {
	background: none;
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0;
	padding-top: 0;
}
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 0;
	padding-top: 0;
	padding-bottom: 20px;
}

#notes{
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* background: url(/img/mainmess2.png) no-repeat top left; */
}
#notes h1{
	margin: 0;
	padding: 0;
	background: none;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	color: #e32;
	font-size: 150%;
}
#notes ul{
    	margin: 0;
	padding: 0;
	margin-left: 20px;
	background: none;
	color: #e32;
}
#notes ul li{
    	margin: 0;
	padding: 0;
	background: none;
	color: #e32;
}
#notes ul li p{
    	margin: 0;
	padding: 0;
	font: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	color: #e32;
}
#notes p{
    	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-top: 0px;
	font: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	color: #6A3A29;
}

#notebodydiv{
        margin: 0; 
	padding: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
    	border: thin dashed #4F4F4F;
}
#addedcommentsdiv{
	margin: 0;
	padding: 0;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#addedcommentsdiv .userntime{
	text-align: right;
	font: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 12px;
	border-bottom: thin solid #C89A58;
}
.notebody{
    /* border: thin dashed #4F4F4F; */
    padding: 20px;
}
/*  Actions  */
.actions {
	margin: 0px 0;
	padding: 0;
	margin-top: 40px;
}
div.actions ul {
	margin: 0px 0;
	padding: 0;
	text-align: center;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:none;
	color: #6A3A29;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #191346;
	text-decoration: underline;
}
form {
	padding: 0;
	margin:0;
	clear: both;
	margin-right: 20px;
	width: 80%;
}
.showhide{
	color: #4F4F4F;
	padding: 0;
	margin:0;
	background: none;
	text-decoration: none;
	font: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 12px;
}
.showhide:hover{
	color: #4F4F4F;
	padding: 0;
	margin:0;
	background: none;
	text-decoration: underline;
	font: 'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 12px;
}

/* Tables */
table {
	/* background: #fff; */
	background: none;
	/* border:1px solid #ccc; */
	border: 1px solid #4F4F4F;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	/* background: #f2f2f2; */
	background: none;
	/* border:1px solid #bbb; */
	border: 1px solid #4F4F4F;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
}
th a {
	/* background: #f2f2f2; */
	background: none;
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	/* background: #ccc; */
	background: #C89A58;
	color: #333;
	text-decoration: none;
}
table tr td {
	/* background: #fff; */
	background: none;
	/* border-right: 1px solid #ccc; */
	border-right: 1px solid #4F4F4F;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	/* background: #f4f4f4; */
	background: none;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	margin: 0px 6px;
}
.cake-sql-log table {
	/* background: #f4f4f4; */
	background: none;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	/* background: #fff; */
	background: none;
	/* color: #ccc; */
	color: #6A3A29;
	margin-bottom: 2em;
}
div.paging div.disabled {
	/* color: #ddd; */
	color: #C89A58;;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}


/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 80%;
}
fieldset {
	border: 1px solid #4F4F4F;
	margin-top: 0px;
	/* margin-top: 30px; */
	padding: 16px 20px;
}
fieldset legend {
	/* background:#fff; */
	background:none;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}
#waitDiv{
	background: url(/img/ajax-loader.gif) no-repeat center;
	height: 200px;
	width: 500px;
}
#NoteBodyDiv{
	height: 200px;
	width: 500px;
}

/* Tweeter divs */
#expTweeter{
	position: absolute;
	overflow: hidden;
	width: 460px;
	height: 400px;
	top: 10px;
	left: 450px;
}

#expTweeterDiv{
	position: absolute;
	width: 460px;
	height: 395px;
	top: 20px;
	left: 0;
	background-color: #222222;
	margin-left: 425px;
}

#expTweeterButton{
	position: absolute;
	z-index: 500;
	width: 35px;
	height: 395px;
	left: 0;
	background: transparent url(/img/twitter35x395.jpg); 
}

#expTweeterContent{
	position: absolute;
	z-index: 495;
	width: 425px;
	height: 400px;
	left: 30px;
	background-color: #222222; 
}

#expTweeterRightSkirt{
	position: absolute;
	z-index: 500;
	width: 10px;
	height: 395px;
	left: 450px;
	background-color: #222222; 
}
